.sidebar {
    background-color: whitesmoke;
    height: 90%;
    /* width: 160px; */
    color: antiquewhite;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}


/* styling sidebar links */

.sidebar a {
    color: rgb(31, 29, 29);
    text-decoration: none;
    height: 5%;
    width: 100%;
    display: block;
    padding: 26px 18px 16px 16px;
    font-size: 25px;
}

.sidebar a i {
    /* padding: 50px 10px 0px 50px; */
    display: block;
    /* margin: auto */
}


/* Adding hover feature to Anchor tag */

.sidebar a:hover {
    color: rgb(146, 162, 196);
}


/* setting mail area  */

.main {
    margin-left: 260px;
    color: rgb(146, 162, 196);
    /* Same as the width of the sidenav */
    padding: 100px 10px;
}


/* styling inputs */

input[type=text] {
    padding: 6px;
    width: 700px;
    font-size: 17px;
    /* border: 2px solid whitesmoke; */
    border-radius: 8px;
    color: black;
}

input[type=image] {
    padding: 6px;
    width: 100px;
    /* font-size: 17px; */
    /* border: 2px solid whitesmoke; */
    /* border-radius: 8px; */
    /* color: black; */
}

.main h3 {
    margin-top: 28px 2px 4px 400px;
    /* padding: 8px 2px 8px 40px; */
    color: black;
}